<title>My application deployed automatically</title>
<h1>Hello, World!</h1>
<p>This program sorts the given integer input between given index limits</p>
<p>Enter the integer list to the first text area, every line has one integer atmost</p>
<p>Enter the left limit  to second text area and enter right limit to third text box</p>
Result is {{result}}
<form action="compute" method="post">
	<textarea name="input1" rows="10" cols="30">
	</textarea>
	<textarea name="input2" rows="10" cols="30">
	</textarea>
	<textarea name="input3" rows="10" cols="30">
        </textarea>
	<br>
	<input type="submit">
</form>
